@import "./color.scss";
@import "./mixins.scss";

.buttonContainer {
	padding: 0 1.5rem;
	width: auto;
	height: 3rem;
	background-color: $primary;
	border-radius: 0.5rem;
	cursor: pointer;
	color: $primary-white;
	border: none;
	font-size: 0.9rem;
	font-weight: 500;

	&:hover,
	&:disabled {
		opacity: 0.7;
	}
}
