@import "./color.scss";
@import "./mixins.scss";

.buttonContainer {
	margin: 3rem;
	width: 10rem;
	height: 3rem;
	background-color: $primary;
	border-radius: 0.5rem;
	cursor: pointer;
	color: $primary-white;
	border: none;
	font-size: 1rem;
	font-weight: 500;

	&:hover,
	&:disabled {
		opacity: 0.7;
	}
}
